# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: elm-hot

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 12.x
            - name: Install Elm compiler
              run: |
                  wget -q https://github.com/elm/compiler/releases/download/0.19.1/binary-for-linux-64-bit.gz
                  gunzip binary-for-linux-64-bit.gz
                  chmod +x binary-for-linux-64-bit
                  sudo mv binary-for-linux-64-bit /usr/local/bin/elm
            - run: npm ci
            - run: npm test
